<a href="https://colab.research.google.com/github/denisegts/Desafio2/blob/main/Aula_2_Python_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python para Data Science

Notebook para o curso de Python para Data Science publicado na plataforma da [Alura](https://www.alura.com.br/)

# Introdução ao Python

Vamos conhecer o Python, nosso ambiente de estudo e também faremos nosso primeiro código nessa linguagem!

## Google Colaboratory

Já aprendemos o que é o [Python](https://www.python.org/) agora vamos aprender a utilzar o [Google Colaboratory](https://colab.research.google.com/) e programar em um notebook.

Vamos testar algumas funções dessa ferramenta.

 **`>>> Use essa célula para mover <<<`**

In [ ]:
10

10

## Olá mundo!

Vamso conhecer mais como funciona o ambiente interativo de um notebook. Para isso vamos executar nosso primeiro comando em Python: [`print()`](https://docs.python.org/3/library/functions.html#print)

In [ ]:
print('Olá mundo!')

Olá mundo!

In [ ]:
print(10)

10

In [ ]:
print('Mirla',23)

Mirla 23

# Manipulando dados

Vamos aprender sobre as variáveis no python, como elas são declaradas e utilizadas além de conhecer outros comandos dentro do Python. :D

## Variáveis

Em Data Science nós trabalhamos com vários dados e informações, então é essencial saber trabalhar com variáveis.

Criamos uma variável no python através da atribuição de um valor a ela.

Para fazer isso, colocamos o nome da variável um sinal de igual (`=`) e o valor que queremos atribuir

In [ ]:
idade = 5

In [ ]:
print(idade)

5

In [ ]:
idade = 10
print(idade)

10

In [ ]:
idade = 15
idade

15

In [ ]:
nome = 'Gabriel'
nome

'Gabriel'

Nomes que **não** podemos definir para variáveis:

- **Nomes que começam com números**
  - Exemplos: `10_notas`, `2_nomes_casa`, etc.
- **Palavras separada por espaço**
  - Exemplos: `Nome escola`, `notas estudantes`, etc.
- **Nomes de funções do Python**
  - Exemplos: `print`, `type`, etc.

> Letras maiúsculas e minúsculas vão gerar diferentes variáveis. A varíavel `idade` é diferente de `Idade` que por sua vez também é diferente de `IDADE`:
``` Python
idade = 1
Idade = 2
IDADE = 3
_idade = 4
_idade_ = 5
print(idade, Idade, IDADE, _idade, _idade_)
1 2 3 4 5
```

## Tipos de variáveis

Cada variável contém uma classe especifica quanto ao tipo de objeto que ela está se referenciando. Essas classes vão ser diferentes a partir do tipo de dado que nós atribuimos a uma variável.

Para saber a classe de cada elemento usamos a função [`type()`](https://docs.python.org/3/library/functions.html#type)

In [ ]:
i = 5
type(i)

int

In [ ]:
f = 9.8
type(f)

float

In [ ]:
s = 'Mirla'
type(s)

str

In [ ]:
b = True
type(b)

bool

Em um conjunto de dados escolares podemos ter vários tipos de informações. Digamos que tenhamos acesso à ficha de dados do aluno *Frabicio Daniel* como transformamos ela em variáveis no Python?

#### Ficha:

- Nome: Fabricio Daniel
- Idade: 15 anos
- Media do semestre: 8,45
- Situação de aprovação: Verdadeira (aprovado)

In [ ]:
nome_aluno = 'Fabricio Daniel'
idade_aluno = 15
media_aluno = 8.45
situacao_aprovado = True
print(nome_aluno,idade_aluno,media_aluno,situacao_aprovado)

Fabricio Daniel 15 8.45 True

## Variáveis numéricas

Entre os tipos de dados numéricos vamos nos focar no tipo `inteiro` e `float`.

Temos uma tabela de informação de empregos quanto ao cargo, quantidade de pessoas empregadas e o salário correspondente:

|Cargo | Quantidade | Salário|
|---|---|---|
|Segurança | 5 | 3000 |
|Docente | 16| 6000|
|Diretoria| 1 |12500|

Precisamos trabalhar com esses dados fornecendo:

- A quantidade total de empregados;
- A diferença entre o salário mais baixo e mais alto; e
- A média ponderada da faixa salarial da escola.

In [ ]:
q_seguranca = 5
s_seguranca = 3000

q_docente = 16
s_docente = 6000

q_diretoria = 1
s_diretoria = 12500

In [ ]:
total_empregados = q_seguranca + q_docente + q_diretoria
total_empregados

22

In [ ]:
diferenca_salario =  s_diretoria - s_seguranca
diferenca_salario

9500

In [ ]:
media = (q_seguranca*s_seguranca + q_docente*s_docente + q_diretoria*s_diretoria) / (total_empregados)
media

5613.636363636364

## Strings

Strings são caracterizada por ter um conjunto de caracteres formando um texto.

Strigs podem ser criadas ao atribuirmos a uma variável um dado que esteja entre aspas simples (`'`) ou aspas duplas (`"`)

In [ ]:
s1 = 'Alura'
s2 = "Alura"
print(type(s1),type(s2))

<class 'str'> <class 'str'>

As variáveis textuais contém vários métodos que nos ajudam a formatar strings. Métódos podem ser executados ao definirmos um objeto seguindo a seguinte estrutura:

```
objeto.metodo()
```

Existem métodos que não necessitam dos `()`, é preciso verificar a documentação de cada caso.

---
**Situação:**

Recebemos uma variável com o nome de uma professora da escola para inserimos no cadastro. No entanto, precisamos tratar esse texto antes de inserirmos no sistema

In [ ]:
texto = '  Geovana Alessandra dias Sanyos '

O objetivo final é que o nome esteja da seguinte forma:

```
'GEOVANA ALESSANDRA DIAS SANTOS'
```

### [`str.upper()` ](https://docs.python.org/3/library/stdtypes.html#str.upper)
Converte uma string para maiúsculas

In [ ]:
texto.upper()

'  GEOVANA ALESSANDRA DIAS SANYOS '

### [`str.lower()`](https://docs.python.org/3/library/stdtypes.html#str.lower)
Método converte uma string para minúsculas.

In [ ]:
texto.lower()

'  geovana alessandra dias sanyos '

### [`str.strip()`](https://docs.python.org/3/library/stdtypes.html#str.strip)
Método remove os espaços em branco do início e do fim de uma string.

In [ ]:
texto.strip()

'Geovana Alessandra dias Sanyos'

### [`str.replace(antigo, novo)`](https://docs.python.org/3/library/stdtypes.html#str.replace)

Método substitui todas as ocorrências do texto "antigo" na string por "novo"

In [ ]:
texto.replace('y','t')

'  Geovana Alessandra dias Santos '

### Observações

1. Os métodos retornam uma **tranformação**, não a executam no texto!

2. Além disso, podemos acumular a execução de métodos.

In [ ]:
texto

'  Geovana Alessandra dias Sanyos '

Para que seja executada a transformação nós podemos atribuir às saídas das transformações à variável

In [ ]:
texto = texto.strip().replace('y','t').upper()
texto

'GEOVANA ALESSANDRA DIAS SANTOS'

## Coletando dados

Em algumas aplicações precisamos coletar valores da pessoa usuária do nosso projeto. Em python conseguimos coletar dados de usuário através do comando [`input()`](https://docs.python.org/3/library/functions.html#input).

Para fazer essa coleta podemos atribuir essa função à uma variável.

In [ ]:
nome = input('Escreva seu nome: ')

Escreva seu nome: Mirla

In [ ]:
nome

'Mirla'

O retorno desse comando sempre será uma *string*. Isso quer dizer que mesmo que façamos uma coleta de algo que deva ser numérico, ele será uma string.

Então, será preciso **converter o resultado caso não seja desejável obter uma string**.

Existem funções para conversão de valores:

- Inteiros: [`int(dado_para_conversao)`](https://docs.python.org/3/library/functions.html#int)
- Float: [`float(dado_para_conversao)`](https://docs.python.org/3/library/functions.html#float)
- String: [`str(dado_para_conversao)`](https://docs.python.org/3/library/functions.html#func-str)
- Booleano: [`bool(dado_para_conversao)`](https://docs.python.org/3/library/functions.html#bool)

In [ ]:
ano_entrada = input('Escreva o ano de ingresso do(a) estudante: ')

Escreva o ano de ingresso do(a) estudante: 2023

In [ ]:
type(ano_entrada)

str

In [ ]:
ano_entrada = int(input('Escreva o ano de ingresso do(a) estudante: '))

Escreva o ano de ingresso do(a) estudante: 2023

In [ ]:
type(ano_entrada)

int

Buscaremos apresentar melhor agora o resultado que obtivemos da transformação. Nós conseguimos formatar e apresentar o nosso resultado misturando strings com valores não textuais.

Para fazer isso usamos a estrutura de formatação `f` com strings.

In [ ]:
nota_entrada = float(input('Digite a nota do teste de ingresso: '))
print(f'Ano de entrada {ano_entrada} - nota do teste de ingresso {nota_entrada}')

Digite a nota do teste de ingresso: 9.0
Ano de entrada 2023 - nota do teste de ingresso 9.0

# Nova seção
**CARACTERES** **ESPECIAIS**

**\n**

In [ ]:
print("Estudar é um esforço constante,\nÉ como cultivar uma planta,\nPrecisamos de dedicação e paciência,\nPara ver o fruto amadurecer.")

Estudar é um esforço constante,
É como cultivar uma planta,
Precisamos de dedicação e paciência,
Para ver o fruto amadurecer.

**\t**

In [ ]:
print('Quantidade\tQualidade\n5 amostras\tAlta\n3 amostras\tBaixa')

Quantidade	Qualidade
5 amostras	Alta
3 amostras	Baixa

**\\\**

In [ ]:
print("Caminho do arquivo: C:\\arquivos\\documento.csv")

Caminho do arquivo: C:\arquivos\documento.csv

**\"**

In [ ]:
print("Ouvi uma vez \"Os frutos do conhecimento são os mais doces e duradouros de todos.\"")

Ouvi uma vez "Os frutos do conhecimento são os mais doces e duradouros de todos."

**\'**

In [ ]:
print('Minha professora uma vez disse \'Estudar é a chave do sucesso.\' ')

Minha professora uma vez disse 'Estudar é a chave do sucesso.'

# **Desafio - Aula 2**

In [ ]:
nome_usuario = input('Digite seu nome: ')
print(f'Olá {nome_usuario}!')

Digite seu nome: Denise
Olá Denise!

In [ ]:
nome_usuario = input('Digite seu nome: ')
idade_usuario = int(input('Digite sua idade: '))
print(f'Olá {nome_usuario}, sua idade é {idade_usuario} anos.')

Digite seu nome: Denise
Digite sua idade: 43
Olá Denise, sua idade é 43 anos.

In [ ]:
nome_usuario = input('Digite seu nome: ')
idade_usuario = int(input('Digite sua idade: '))
altura_usuario = float(input('Digite sua altura: '))
print(f'Olá {nome_usuario}, sua idade é {idade_usuario} anos e sua altura é {altura_usuario} metros.')

Digite seu nome: Denise
Digite sua idade: 43
Digite sua altura: 1.7
Olá Denise, sua idade é 43 anos e sua altura é 1.7 metros.

In [ ]:
nome_usuario = input('Digite seu nome: ')
idade_usuario = int(input('Digite sua idade: '))
altura_usuario = float(input('Digite sua altura: '))
print('Olá %s, você tem  %d anos, e mede %.2f de altura' % (nome_usuario, idade_usuario, altura_usuario))

Digite seu nome: Denise
Digite sua idade: 43
Digite sua altura: 1.7
Olá Denise, você tem  43 anos, e mede 1.70 de altura

In [ ]:
valor1 = int(input('Digite o primeiro valor: '))
valor2 = int(input('Digite o segundo valor: '))
soma_valores = valor1 + valor2
print(f'A soma dos valores é {soma_valores}')

Digite o primeiro valor: 3
Digite o segundo valor: 2
A soma dos valores é 5

In [ ]:
valor1 = int(input('Digite o primeiro valor: '))
valor2 = int(input('Digite o segundo valor: '))
valor3 = int(input('Digite o terceiro valor: '))
soma_valores = valor1 + valor2 + valor3
print(f'A soma dos valores é {soma_valores}')

Digite o primeiro valor: 3
Digite o segundo valor: 5
Digite o terceiro valor: 7
A soma dos valores é 15

In [ ]:
valor1 = int(input('Digite o primeiro valor: '))
valor2 = int(input('Digite o segundo valor: '))
valor3 = int(input('Digite o terceiro valor: '))
subtracao_valores = valor1 - valor2 - valor3
print(f'A subtração dos valores é {subtracao_valores}')

Digite o primeiro valor: 10
Digite o segundo valor: 5
Digite o terceiro valor: 2
A subtração dos valores é 3

In [ ]:
valor1 = int(input('Digite o primeiro valor: '))
valor2 = int(input('Digite o segundo valor: '))
valor3 = int(input('Digite o terceiro valor: '))
muliplicacao_valores = valor1 * valor2 * valor3
print(f'A multiplicação dos valores é {muliplicacao_valores}')

Digite o primeiro valor: 5
Digite o segundo valor: 10
Digite o terceiro valor: 15
A multiplicação dos valores é 750

In [ ]:
valor1 = int(input('Digite o primeiro valor: '))
valor2 = int(input('Digite o segundo valor (o denominador não pode ser 0): '))
divisao_valores = valor1 / valor2
print(f'A divisão dos valores é %i' %(divisao_valores))

Digite o primeiro valor: 10
Digite o segundo valor (o denominador não pode ser 0): 2
A divisão dos valores é 5

In [ ]:
valor1 = int(input('Digite o primeiro valor: '))
valor2 = int(input('Digite o segundo valor: '))
potencia_valores = valor1 ** valor2
print(f'A potenciação dos valores é {potencia_valores}')

Digite o primeiro valor: 10
Digite o segundo valor: 3
A potenciação dos valores é 1000

In [ ]:
valor1 = int(input('Digite o primeiro valor: '))
valor2 = int(input('Digite o segundo valor (o denominador não pode ser 0): '))
resto_de_divisao_valores = valor1 % valor2
print(f'O resto da divisão dos valores é {resto_de_divisao_valores}')

Digite o primeiro valor: 10
Digite o segundo valor (o denominador não pode ser 0): 7
O resto da divisão dos valores é 3

In [ ]:
nota1 = float(input('Digite a primeira nota: '))
nota2 = float(input('Digite a segunda nota: '))
nota3 = float(input('Digite a terceira nota: '))
media = (nota1 + nota2 + nota3) / 3
print(f'A média das notas é %.2f' %(media))

Digite a primeira nota: 5
Digite a segunda nota: 7.45
Digite a terceira nota: 6
A média das notas é 6.15

In [ ]:
num1 = 5
num2 = 12
num3 = 20
num4 = 15

peso1 = 1
peso2 = 2
peso3 = 3
peso4 = 4

media = (num1 * peso1 + num2 * peso2 + num3 * peso3 + num4 * peso4) / (peso1 + peso2 + peso3 + peso4)
print(f'A média ponderada é %.2f' %(media))

A média ponderada é 14.90

In [ ]:
frase =  'Bem vindo ao século 21'
frase

'Bem vindo ao século 21'

In [ ]:
frase = input('Digite uma frase: ')
print(frase.upper())

Digite uma frase: Bom dia Denise, vamos trabalhar?
BOM DIA DENISE, VAMOS TRABALHAR?

In [ ]:
frase = input('Digite uma frase: ')
print(frase.lower())

Digite uma frase: Bom dia Denise, vamos trabalhar?
bom dia denise, vamos trabalhar?

In [ ]:
frase = input('Digite uma frase: ')
print(frase.lower())

In [ ]:
frase = ' bom  dia denise ! Vamos trabalhar '
print(frase.strip())

bom  dia denise ! Vamos trabalhar

* Demais exercícios estão no outro notebook

# Estruturas condicionais

## `IF` e `ELSE`

O `if` e `else` são duas estruturas condicionais. O `if` executará o bloco de comando caso a condição colocada for **verdadeira**. O `else` é um caso em que a condicional de `if` seja **falsa**.

O `if` é uma palavra-chave em Python que significa "se". Ele é usado para formar uma estrutura condicional, que permite que você verifique se uma determinada condição é verdadeira ou falsa e, em seguida, execute um bloco de código específico dependendo do resultado da verificação. A sintaxe para usar o `if` é:



```
if condição:
    # faça algo
```

In [ ]:
if 2<7:
  print('condição verdadeira')

condição verdadeira

**FORA DA TABULAÇÃO**

In [ ]:
if 2>7:
   print('condição verdadeira')
   print()
print('fora do bloco')

fora do bloco

Já o `else` em Python é usada em conjunto com a palavra-chave `if` para formar uma estrutura condicional. A sintaxe para usar o `else` é:

```
if condição:
  # código caso seja verdade
else:
  # código caso seja falso
```

O `else` é executado quando a condição verificada pelo `if` é avaliada como `False`.

In [ ]:
media = float(input('Digite a média: '))

if media >= 6.0:
  print('Aprovado')
else:
  print('Reprovado')

Digite a média: 5.0
Reprovado

# ***Para saber mais: operadores relacionais***

*   **Maior que (>)**
*   **Menor que (<)**
*   **Maior ou igual a (>=)**
*   **Menor ou igual a (<=)**
*   **Igual a (==)**
*   **Diferente de (!=)**

In [26]:
idade_maria = int(input('Digite a idade da Maria: '))
idade_beatriz = int(input('Digite a idade da Beatriz: '))

if idade_maria > idade_beatriz:
  print('Maria é mais velha que Beatriz.')

Digite a idade da Maria: 36
Digite a idade da Beatriz: 17
Maria é mais velha que Beatriz.

********************************************************************************

In [27]:
idade_maria = int(input('Digite a idade da Maria: '))
idade_beatriz = int(input('Digite a idade da Beatriz: '))

if idade_maria < idade_beatriz:
  print('Maria é mais nova que Beatriz.')

Digite a idade da Maria: 5
Digite a idade da Beatriz: 10
Maria é mais nova que Beatriz.

********************************************************************************

In [28]:
empregados_empresa_1 = int(input('Digite a quantidade de empregados da empresa 1: '))
empregados_empresa_2 = int(input('Digite a quantidade de empregados da empresa 2: '))

if empregados_empresa_1 >= empregados_empresa_2:
  print('Empresa 1 tem uma quantidade de empregados maior ou igual à empresa 2.')

Digite a quantidade de empregados da empresa 1: 300
Digite a quantidade de empregados da empresa 2: 100
Empresa 1 tem uma quantidade de empregados maior ou igual à empresa 2.

********************************************************************************

In [29]:
empregados_empresa_1 = int(input('Digite a quantidade de empregados da empresa 1: '))
empregados_empresa_2 = int(input('Digite a quantidade de empregados da empresa 2: '))

if empregados_empresa_1 <= empregados_empresa_2:
  print('Empresa 1 tem uma quantidade de empregados menor ou igual à empresa 2.')

Digite a quantidade de empregados da empresa 1: 100
Digite a quantidade de empregados da empresa 2: 300
Empresa 1 tem uma quantidade de empregados menor ou igual à empresa 2.

********************************************************************************

In [30]:
livro_1 = input('Digite o título do 1° livro: ')
livro_2 = input('Digite o título do 2° livro: ')

if livro_1 == livro_2:
  print('Os livros têm o mesmo título')

Digite o título do 1° livro: Mar
Digite o título do 2° livro: Mar
Os livros têm o mesmo título

********************************************************************************

In [31]:
livro_1 = input('Digite o título do 1° livro: ')
livro_2 = input('Digite o título do 2° livro: ')

if livro_1 != livro_2:
  print('Os livros têm títulos diferentes')

Digite o título do 1° livro: Mar
Digite o título do 2° livro: Sol
Os livros têm títulos diferentes

Agora a nossa instituição de ensino lançou uma nota oficial que pessoas que tenham média entre 4.0 e 6.0 podem fazer os cursos de **Recuperação** nas férias para poder recuperar a nota.

Então podemos agora fazer um conjunto de `if`s para que possamos estruturar essa nova condição.

In [9]:
media = float(input('Digite a média: '))

if media >= 6.0:
  print('Aprovado')
if 5.99 > media >= 5:
    print('Recuperação')
if media < 4.99:
    print('Reprovado')

Digite a média: 5.2
Recuperação

Notemos que em casos com 3 situações como esse precisamos definir bem nossas condições. Pois foi feita uma construção com `else` no final, ele irá considerar apenas a alguma condicional para ser o caso **falso** podendo resultar em duas (ou mais) execuções.

Por exemplo:

In [21]:
media = float(input('Digite a média: '))

if media >= 6.0:
  print('Aprovado')
if 5 <= media <= 5.99:
    print('Recuperação')
else:
    print('Reprovado')

Digite a média: 7
Aprovado
Reprovado

## `ELIF`

O `elif` é uma palavra-chave em Python que significa "senão, se" e pode ser considerado uma união do `else` com um `if`. Ela é usada em conjunto com a palavra-chave `if` para formar uma estrutura condicional encadeada.

A sintaxe para usar o `elif` é:

```
if condição1:
    # faça algo
elif condição2:
    # faça outra coisa
elif condição3:
    # faça mais alguma coisa
else:
    # faça algo diferente
```

O `elif` permite que você verifique várias condições de forma encadeada, economizando espaço em seu código. Se a primeira condição for avaliada como `False`, o interpretador Python avaliará a próxima condição no `elif`. Isso continuará até que uma condição seja avaliada como `True` ou até que o `else` seja atingido. Se nenhuma das condições forem avaliadas como `True`, a execução do código do `else` será iniciada.

Vamos usar o mesmo caso anterior:

In [24]:
media = float(input('Digite a média: '))

if media >= 6.0:
  print('Aprovado')
elif 6.0 > media >= 4.0:
    print('Recuperação')
else:
    print('Reprovado')

Digite a média: 3
Reprovado

## Operadores

Durante a construção de comandos por vezes precisamos de uma elaboração maior de da expressão condicional, necessitando que alguns operadores lógicos estejam integrados.

### `AND`, `OR`, `NOT`

Os operadores lógicos `and`, `or` e `not` são usados para combinar expressões lógicas em Python. Eles são usados frequentemente em conjunto com o `if` para criar estruturas condicionais mais complexas.

- `AND` é usado para verificar se duas condições são verdadeiras. A expressão lógica¹ `x and y` é avaliada como `True` apenas se **ambas as condições `x` e `y` forem verdadeiras**, e como `False` caso contrário.

- `OR` é usado para verificar se pelo menos uma das condições é verdadeira. A expressão lógica `x or y` é avaliada como `True` **se pelo menos uma das condições `x` ou `y` for verdadeira**, e como `False` se ambas forem falsas.

- `NOT` é usado para **negar uma condição**. A expressão lógica not x é avaliada como True se a condição x for falsa, e como False se a condição x for verdadeira.

¹ Uma expressão lógica é uma declaração que pode ser avaliada como verdadeira ou falsa. Ela é composta por operandos lógicos² e operadores lógicos³, que são usados ​​para combinar várias expressões lógicas em uma única expressão.

² Os operandos lógicos são os elementos que são comparados ou avaliados em uma expressão lógica. Eles são geralmente valores verdadeiros ou falsos, mas também podem ser expressões lógicas mais complexas. Em Python, os operandos lógicos são os valores `True` e `False`.

³ Os operadores lógicos são os símbolos ou palavras-chave que são usados ​​para combinar várias expressões lógicas em uma única expressão. Em Python, os operadores lógicos são `and`, `or` e `not`, bem como as palavras-chave `if`, `elif` e `else`.

In [ ]:
t1 = t2 = True
f1 = f2 = False

In [ ]:
if t1 and t2:
  print('expressão verdadeira')
else:
  print('expressão falsa')

expressão verdadeira

In [ ]:
if f1 or t1:
  print('expressão verdadeira')
else:
  print('expressão falsa')

expressão verdadeira

In [ ]:
if not f1:
  print('expressão verdadeira')
else:
  print('expressão falsa')

expressão verdadeira

### `IN`

É usado para verificar se um elemento está presente em uma lista, tupla ou outra variável de conjunto. A expressão `x in y` é avaliada como `True` se o elemento `x` estiver presente na variável de conjunto `y`, e como `False` caso contrário.

Podemos verificar isso com variáveis de texto.

---

**Situação:**

Na escola foi passada uma lista com nomes de estudantes que foram aprovados por média no semestre, mas é preciso verificar se alguns nomes estão nessa lista para verificar se os dados estão corretos.

A lista distribuida pode ser observada abaixo:

```
lista = 'José da Silva, Maria Oliveira, Pedro Martins, Ana Souza, Carlos Rodrigues, Juliana Santos, Bruno Gomes, Beatriz Costa, Felipe Almeida, Mariana Fernandes, João Pinto, Luísa Nascimento, Gabriel Souza, Manuela Santos, Thiago Oliveira, Sofia Ferreira, Rafael Albuquerque, Isabella Gomes, Bruno Costa, Maria Martins, Rafaela Souza, Matheus Fernandes, Luísa Almeida, Beatriz Pinto, Mariana Rodrigues, Gabriel Nascimento, João Ferreira, Maria Albuquerque, Felipe Oliveira
'
```

Os nomes que precisam ser verificados são os seguintes:

```
nome_1 = 'Mariana Rodrigues'
nome_2 = 'Marcelo Nogueira'
```

In [ ]:
lista = 'José da Silva, Maria Oliveira, Pedro Martins, Ana Souza, Carlos Rodrigues, Juliana Santos, Bruno Gomes, Beatriz Costa, Felipe Almeida, Mariana Fernandes, João Pinto, Luísa Nascimento, Gabriel Souza, Manuela Santos, Thiago Oliveira, Sofia Ferreira, Rafael Albuquerque, Isabella Gomes, Bruno Costa, Maria Martins, Rafaela Souza, Matheus Fernandes, Luísa Almeida, Beatriz Pinto, Mariana Rodrigues, Gabriel Nascimento, João Ferreira, Maria Albuquerque, Felipe Oliveira'
lista

'José da Silva, Maria Oliveira, Pedro Martins, Ana Souza, Carlos Rodrigues, Juliana Santos, Bruno Gomes, Beatriz Costa, Felipe Almeida, Mariana Fernandes, João Pinto, Luísa Nascimento, Gabriel Souza, Manuela Santos, Thiago Oliveira, Sofia Ferreira, Rafael Albuquerque, Isabella Gomes, Bruno Costa, Maria Martins, Rafaela Souza, Matheus Fernandes, Luísa Almeida, Beatriz Pinto, Mariana Rodrigues, Gabriel Nascimento, João Ferreira, Maria Albuquerque, Felipe Oliveira'

In [ ]:
nome_1 = 'Mariana Rodrigues'
nome_2 = 'Marcelo Nogueira'

In [ ]:
if nome_1 in lista:
  print(f'O nome {nome_1} está na lista')
else:
  print(f'O nome {nome_1} não está na lista')

O nome Mariana Rodrigues está na lista

In [ ]:
if nome_2 in lista:
  print(f'O nome {nome_2} está na lista')
else:
  print(f'O nome {nome_2} não está na lista')

O nome Marcelo Nogueira não está na lista

# **Desafio: hora da prática**

1) Escreva um programa que peça à pessoa usuária para fornecer dois números e exibir o número maior.

In [ ]:
numero1 = int(input('Digite o primeiro número: '))
numero2 = int(input('Digite o segundo número: '))

if numero1 > numero2:
  print(f'O número {numero1} é maior que o número {numero2}')
else:
  print(f'O número {numero2} é maior que o número {numero1}')

Digite o primeiro número: 10
Digite o segundo número: 15
O número 15 é maior que o número 10

2) Escreva um programa que solicite o percentual de crescimento de produção de uma empresa e informe se houve um crescimento (porcentagem positiva) ou decrescimento (porcentagem negativa).

In [ ]:
# coleta percentual

perc_crescimento = float(input('Digite o percentual de crescimento: '))

#verifica se o valor é positivo ou negativo com uma verificação
# se o número é maior ou menor que 0

if perc_crescimento > 0:
  print(f'Houve um crescimento de {perc_crescimento}%')
  print('Parabéns!')
elif perc_crescimento < 0:
  print(f'Houve um decrescimento de {perc_crescimento}%')
  print('Que pena!')
else:
  print('Não houve crescimento ou decrescimento')

Digite o percentual de crescimento: -5
Houve um decrescimento de -5.0%
Que pena!

***Restante do desafio está em outro notebook***

# Estruturas de repetição

Quando temos que executar um mesmo bloco de comandos por várias vezes não é muito interessante fazer isso à mão.

Imaginemos a situação de termos que coletar e imprimir a média de duas notas de **3 estudantes**:

In [1]:
nota_1 = float(input('Digite a 1° nota: '))
nota_2 = float(input('Digite a 2° nota: '))

print(f'Média: {(nota_1+nota_2)/2}')

Digite a 1° nota: 5
Digite a 2° nota: 10
Média: 7.5

Para 3 estudantes

In [2]:
nota_1 = float(input('Digite a 1° nota: '))
nota_2 = float(input('Digite a 2° nota: '))

print(f'Média: {(nota_1+nota_2)/2}')

nota_1 = float(input('Digite a 1° nota: '))
nota_2 = float(input('Digite a 2° nota: '))

print(f'Média: {(nota_1+nota_2)/2}')

nota_1 = float(input('Digite a 1° nota: '))
nota_2 = float(input('Digite a 2° nota: '))

print(f'Média: {(nota_1+nota_2)/2}')

Digite a 1° nota: 5
Digite a 2° nota: 10
Média: 7.5
Digite a 1° nota: 7
Digite a 2° nota: 3
Média: 5.0
Digite a 1° nota: 4
Digite a 2° nota: 1
Média: 2.5

Agora imaginemos uma situação em que não são apenas 3 estudantes, mas sim 100 estudantes. Não seria interessante repetir o mesmo código por 100 vezes, mas sim **executar o mesmo código 100 vezes**.

Essa repetição conseguimos construir com laços de repetição!

## `WHILE`

O laço `while` é uma estrutura de controle de repetição em Python que permite executar um bloco de código repetidamente enquanto uma determinada condição é verdadeira. Sua estrutura é:



```
while condição:
    # bloco de código
```

Vamos construir um exemplo com um contador de 1 até 10.

In [3]:
contador = 1

while contador <= 10:
  print(contador)
  contador += 1   #contador = contador+1

1
2
3
4
5
6
7
8
9
10

Agora vamos coletar as notas e médias de cada aluno dentro do while. Faremos um exemplo com 3 médias.

In [6]:
contador = 1

while contador <= 3:
  nota_1 = float(input('Digite a 1° nota: '))
  nota_2 = float(input('Digite a 2° nota: '))

  print(f'Média: {(nota_1+nota_2)/3}')
  contador += 1

Digite a 1° nota: 5
Digite a 2° nota: 7
Média: 4.0
Digite a 1° nota: 3
Digite a 2° nota: 8
Média: 3.6666666666666665
Digite a 1° nota: 9
Digite a 2° nota: 7
Média: 5.333333333333333

# ***Para saber mais: operadores de atribuição***


*   **-= SUBTRAI UM VALOR NA VARIAVEL**
*   **(*=) MULTIPLICA UM VALOR PELA VARIÁVEL**
*   **/= DIVIDE UM VALOR PELA VARIÁVEL**
*   **//= REALIZA DIVISAO INTEIRA DA VARIÁVEL POR UM VALOR**
*   **%= CALCULA O RESTO DA DIVISAO DO VALOR NA VARIÁVEL E ATRIBUI O RESULTADO À VARIAVEL**

## `FOR`

O laço `for` é um tipo de estrutura de controle de fluxo em Python que permite iterar sobre um conjunto de elementos. A sua estrutura é:



```
for elemento in conjunto:
    # código a ser executado para cada elemento
```

O laço for itera sobre cada elemento do conjunto especificado e executa o bloco de código dentro do laço para cada elemento. Quando o laço chega ao final do conjunto, ele é interrompido e o programa continua a execução após o laço.

O conjunto pode ser gerado com a função [`range()`](https://docs.python.org/3/library/functions.html#func-range). Que é uma função capaz de gerar uma sequência de números inteiros. A estrutura dessa função é:

```
range(inicio, fim, passo)
```

Segundo a documentação, o `range()` gera uma sequência de números inteiros a partir do valor do parâmetro `inicio` até o valor do parâmetro `fim`, de acordo com o valor do parâmetro `passo`. Se `inicio` não for especificado, o valor padrão é 0. Se `passo` não for especificado, o valor padrão é 1.

Vamos fazer o mesmo contador `while` agora com `for`.

In [8]:
for contador in range(1,11):
  print(contador)

1
2
3
4
5
6
7
8
9
10

In [11]:
'''
contador = 1

while contador <= 3:
  nota_1 = float(input('Digite a 1ª nota do aluno:'))
  nota_2 = float(input('Digite a 2ª nota do aluno:'))

  print =(f'Média: {(nota_1 + nota_2/2)}')
  contador += 1
  '''

for contador in range (1,4):
  nota_1 = float(input('Digite a 1ª nota do aluno:'))
  nota_2 = float(input('Digite a 2ª nota do aluno:'))

  print(f'Média: {(nota_1 + nota_2)/2}')

Digite a 1ª nota do aluno:8
Digite a 2ª nota do aluno:7
Média: 7.5
Digite a 1ª nota do aluno:6
Digite a 2ª nota do aluno:5
Média: 5.5
Digite a 1ª nota do aluno:9
Digite a 2ª nota do aluno:1
Média: 5.0

# ***Para saber mais: comandos de controle***

Ao trabalharmos com laços, conseguimos controlar o fluxo de execuções dentro do bloco de código, permitindo manipular a execução dos laços. O continue e o break são os comandos de controle que podemos executar com for e while.

O ***continue*** interrompe a iteração atual do laço e salta para a próxima, ou seja, retorna ao início do código. Como exemplo, temos um código de contagem de 1 a 5 com for:

In [12]:
for i in range(1,6):
    if i == 4:
        continue
    print(i)

1
2
3
5

Já o ***break*** interrompe a execução do laço completamente, saindo do bloco de código. Vamos usar o mesmo exemplo de contagem, mas agora colocaremos o break:

In [13]:
for i in range(1,6):
    if i == 4:
        break
    print(i)

1
2
3

# Estruturas de dados

Um conjunto de elementos é uma coleção de itens, que são armazenados juntos de maneira organizada. Alguns exemplos de conjuntos de elementos em Python são listas, strings e dicionários.

## Listas

As listas podem armazenar uma coleção de itens em ordem. Eles são delimitados por colchetes `[]` e os itens são separados por vírgulas.

Elas também podem armazenar qualquer tipo de item, incluindo números, strings, objetos e outras listas. Elas também podem armazenar itens de tipos de dados diferentes juntos em uma única lista.

As listas são organizadas em Python porque **cada elemento da lista tem um índice que indica sua posição na lista**. Os índices começam em 0 e vão até o tamanho da lista menos 1.

Temos então 5 elementos com índices variando de 0 a 4, ordenadamente:

```
#             [0]           [1]   [2]   [3]    [4]
lista = ['Fabricio Daniel', 9.5 , 9.0 , 8.0 , True]
```

Em Python temos também os índices **negativos** que se iniciam no último elemento com o valor de `-1` e depois avancam no universo dos negativos até chegar no 1° elemeno:

```
#             [-5]         [-4]  [-3]  [-2]   [-1]
lista = ['Fabricio Daniel', 9.5 , 9.0 , 8.0 , True]
```

Conseguimos selecionar separadamente cada elemento através de seus respectivos índices. Colocando o nome da lista e em seguida o índice a ser selecionado.

Uma forma mais dinâmica de trabalhar item por item de uma lista é utilizando um laço for para leitura elemento a elemento.

A nota `8.0` de Fabricio Daniel precisa ser ajustada pois ganhou 2 pontos em sua ultima nota por fazer um trabalho de turma. Então é necessária fazer uma troca no valor do índice `3` de `8.0` para `10.0`.

conseguimos calcular a média do aluno a partir dos dados que temos

In [ ]:
media = (lista[1] + lista[2] + lista[3])/3
media

## Manipulação de listas

As listas são muito úteis em Python porque permitem armazenar e acessar uma coleção de itens de maneira organizada e rápida. Elas também oferecem muitos métodos úteis para manipular os itens armazenados, como adicionar, remover, classificar e pesquisar elementos.

#### Quantidade de elementos

Usamos a função [`len()`](https://docs.python.org/3/library/functions.html#len) para descobrimos a quantidade de elementos de um conjunto.

#### Partição

A partição de listas por indexação em Python é uma técnica muito útil para selecionar um subconjunto de elementos de uma lista. Ela é feita usando a sintaxe `lista[inicio:fim]`, onde `inicio` é o índice do primeiro elemento a ser incluído na partição e `fim` é o índice do primeiro elemento a ser excluído da partição.

In [ ]:
lista[1:3]

In [ ]:
lista[3:]

#### [`append()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=of%20list%20objects%3A-,list.append(x),-Add%20an%20item)

Adiciona um elemento ao final da lista.

#### [`extend()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=list.extend(iterable))

Adiciona vários elementos ao final da lista.

Adicionaremos as notas `[10.0,8.0,9.0]` na lista do Fabricio Daniel

*Isso não é possivel ser feito com o* `append`.

#### [`remove()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=append(x).-,list.remove(x),-Remove%20the%20first)

Remove um elemento específico da lista.

## Dicionário

Os dicionários são um tipo de estrutura de dados que armazenam pares de *chave-valor*. Eles são delimitados por chaves `{}` e os pares *chave-valor* são separados por vírgulas.

```
dicionário = {chave: valor}
```

A **chave** é um elemento único que identifica um valor no dicionário, enquanto o **valor** é o item que é armazenado para a chave. As chaves e os valores podem ser de **qualquer tipo de dado**.

Os dicionários são úteis para armazenar e acessar dados de maneira organizada e rápida. Eles são um tipo de conjunto de elementos em Python, pois armazenam uma coleção de itens.

---
**Situação:**

Vamos criar um conjunto de dados com informações de matricula de um estudante. Os dados são os seguintes:

- matricula: 2000168933
- dia de cadastro: 25
- mês de cadastro: 10
- turma: 2E

É possível substituir os valores dentro de uma chave. Por exemplo, recebemos a informação que a turma do estudante que cadastramos foi trocada para `'2G'` e agora precisamos trocar o valor da chave `'turma'`.

Podemos também adicionar outros dados ao dicionário. Vamos adicionar a informação de modalidade de ensino, nosso estudante atuará inicialmente em modalidade EAD.

Então iremos definir uma chave chamada `'modalidade'` e o valor `'EAD'`.

## Aprofundando em dicionários

#### [`pop()`](https://python-reference.readthedocs.io/en/latest/docs/dict/pop.html)
Remove um item de um dicionário e o retorna.

In [ ]:
cadastro

#### [`items()`](https://python-reference.readthedocs.io/en/latest/docs/dict/items.html)
Retorna uma lista de pares chave-valor do dicionário.

#### [`keys()`](https://python-reference.readthedocs.io/en/latest/docs/dict/keys.html)
Retorna uma lista das chaves do dicionário.

#### [`values()`](https://python-reference.readthedocs.io/en/latest/docs/dict/values.html)
Retorna uma lista dos valores do dicionário.

### Leitura de valores com `for`